.env
postgres-data/
influxdb-storage/
mosquitto/data/
mosquitto/log/
.config.nodes.json
.config.nodes.json.backup
.config.runtime.json
node_modules/
node-red-data/flows_cred.json
node-red-data/.config.users.json
node-red-data/.config.users.json.backup
node-red-data/.flows.json.backup
node-red-data/.flows_cred.json.backup
node-red-data/node_modules/
node-red-data/.npm/